<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>

<body>
    <h1>System Information</h1>
    <table>
        <tr>
            <th>Parameter</th>
            <th>Information</th>
        </tr>
        <tr>
            <td>Hostname</td>
            <td>{{ ansible_facts['hostname'] }}</td>
        </tr>
        <tr>
            <td>OS Version</td>
            <td>{{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }}</td>
        </tr>
        <tr>
            <td>IP Address</td>
            <td>{{ ansible_facts['default_ipv4']['address'] }}</td>
        </tr>
        <tr>
            <td>Total Up time</td>
            <td>{{ ansible_facts['uptime_seconds'] }}</td>
        </tr>
        <tr>
            <td>Kernel Version</td>
            <td>{{ ansible_facts['kernel'] }}</td>
        </tr>
        <tr>
            <td>Memory</td>
            <td>{{ ansible_facts['memory_mb']['real']['total'] }}</td>
        </tr>
    
    <tr>   <td>/etc/hosts: </td> <td>    
         {% for host in all_hostname %}    
             {{ host }}
           {% endfor %}
           </tr> </td>

    <tr>   <td>Resolve_conf: </td> <td>    
         {% for host in all_resolv %}    
             {{ host }}
           {% endfor %}
           </tr> </td>

    <tr>   <td>mount_point: </td> <td>    
         {% for host in all_mountpoint %}    
             {{ host }}
           {% endfor %}
           </tr> </td>

            <tr>
            <td>Service State</td>
            <td>{{ service_name }} is currently {{ service_state }}</td>
        </tr>
        
    </table>

    <h2>Before & After Patching</h2>

 <table>
    <tr>
        <th> </th>
        <th>Before Patching</th>
        <th>After Patching</th>
    </tr>
    <tr>
        <td>Packages</td>
        <td>{{ pre_packages_ug }}</td>
        <td>{{ post_packages_ug }}</td>
    </tr>
</table>

   <h2>Comparison of Running Services</h2>
    {% set service_difference = service_info_running | difference(service_info2_running) %}
    {% set service_diff = service_info2_running | difference(service_info_running) %}
   <table>
       <tr>
           <th>Services that are no longer Running</th>
       </tr>
       {% for diff in service_difference %}          
               <tr>
                   <td>{{ diff }}</td>                   
               </tr>           
       {% endfor %}
   </table>
   <table>

</body>
</html>
