<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        .no-changes {
            background-color: #d4edda; /* light green */
        }
    </style>
</head>
<body>
    <h1>System Information</h1>
    {% for host in ansible_play_hosts_all %}
        <h2>Host: {{ host['hostname'] }}</h2>
        <table>
            <tr>
                <th>Parameter</th>
                <th>Pre-upgrade</th>
                <th>Post-upgrade</th>
                <th>Changes</th>
            </tr>
            <tr>
                <td>Hostname</td>
                <td>{{ host_facts['hostname'] }}</td>
            </tr>
            <tr>
                <td>OS Version</td>
                <td>{{ pre_distribution }}</td>
                <td>{{ distribution_list }}</td>   

                    {% set diff_pre = pre_distribution | difference(post_distribution) %}
                    {% set diff_post = post_distribution | difference(pre_distribution) %}
                    <td class="{% if not diff_pre and not diff_post %}no-changes{% endif %}">
                    {% if diff_pre or diff_post %}
                    <ul>
                        {% for item in diff_pre %}
                            <li>Removed: {{ item }}</li>
                        {% endfor %}
                        {% for item in diff_post %}
                            <li>Added: {{ item }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        No changes
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>IP Address</td>
                <td>{{ host_facts['default_ipv4']['address'] }}</td>
            </tr>

            <tr>
                <td>Total Up time</td>
                <td>{{ host_facts['uptime_seconds'] }}</td>
            </tr>

            <tr>
                <td>Kernel Version</td>
                <td>{{ pre_kernel }}</td>
                <td>{{ post_kernel }}</td>
                    {% set diff_pre = pre_kernel | difference(post_kernel) %}
                    {% set diff_post = post_kernel | difference(pre_kernel) %}
                    <td class="{% if not diff_pre and not diff_post %}no-changes{% endif %}">
                    {% if diff_pre or diff_post %}
                    <ul>
                        {% for item in diff_pre %}
                            <li>Removed: {{ item }}</li>
                        {% endfor %}
                        {% for item in diff_post %}
                            <li>Added: {{ item }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        No changes
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>Memory</td>
                <td>{{ pre_memory }}</td>
                <td>{{ post_memory }}</td>
                    {% set diff_pre = pre_memory | difference(post_memory) %}
                    {% set diff_post = post_memory | difference(pre_memory) %}
                    <td class="{% if not diff_pre and not diff_post %}no-changes{% endif %}">
                    {% if diff_pre or diff_post %}
                    <ul>
                        {% for item in diff_pre %}
                            <li>Removed: {{ item }}</li>
                        {% endfor %}
                        {% for item in diff_post %}
                            <li>Added: {{ item }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        No changes
                    {% endif %}
                </td>
            </tr>

           <tr>
                <td>/etc/hosts:</td>
                <td>{{ all_hostname }}</td>
                <td>{{ all_hostname1 }}</td>
                    {% set diff_pre = all_hostname | difference(all_hostname1) %}
                    {% set diff_post = all_hostname1 | difference(all_hostname) %}
                    <td class="{% if not diff_pre and not diff_post %}no-changes{% endif %}">
                    {% if diff_pre or diff_post %}
                    <ul>
                        {% for item in diff_pre %}
                            <li>Removed: {{ item }}</li>
                        {% endfor %}
                        {% for item in diff_post %}
                            <li>Added: {{ item }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        No changes
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>Resolv_conf:</td>
                <td>{{ all_resolv }}</td>
                <td>{{ all_resolv1 }}</td>
                    {% set diff_pre = all_resolv | difference(all_resolv1) %}
                    {% set diff_post = all_resolv1 | difference(all_resolv) %}
                    <td class="{% if not diff_pre and not diff_post %}no-changes{% endif %}">
                    {% if diff_pre or diff_post %}
                    <ul>
                        {% for item in diff_pre %}
                            <li>Removed: {{ item }}</li>
                        {% endfor %}
                        {% for item in diff_post %}
                            <li>Added: {{ item }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        No changes
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>Mount Point:</td>
                <td>{{ all_mountpoint }}</td>
                <td>{{ all_mountpoint1 }}</td>
                    {% set diff_pre = all_mountpoint | difference(all_mountpoint1) %}
                    {% set diff_post = all_mountpoint1 | difference(all_mountpoint) %}
                    <td class="{% if not diff_pre and not diff_post %}no-changes{% endif %}">
                    {% if diff_pre or diff_post %}
                    <ul>
                        {% for item in diff_pre %}
                            <li>Removed: {{ item }}</li>
                        {% endfor %}
                        {% for item in diff_post %}
                            <li>Added: {{ item }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        No changes
                    {% endif %}
                </td>
            </tr>

        </table>
    {% endfor %}



        <h2>Package Differences</h2>
        <table>
            <tr>
                <th></th>
                <th>Packages before update</th>
                <th>Packages after update</th>
                <th>Differences in Packages</th>
            </tr>
            <tr>
                <td>Packages</td>
                <td>{{ pre_packages_ug }}</td>
                <td>{{ post_packages_ug }}</td>
                <td>
               {% for package in yum_update_history_result %}
            <li>{{ package }}</li>
                {% endfor %}
                </td>
            </tr>
        </table>



    <h2>Comparison of Running Services</h2>
    {% set service_difference = service_info_running | difference(service_info2_running) %}
    {% set service_diff = service_info2_running | difference(service_info_running) %}
    <table>
       <tr>
           <th>Services that are no longer Running</th>
       </tr>
       {% for diff in service_difference %}          
               <tr>
                   <td>{{ diff }}</td>                   
               </tr>           
       {% endfor %}
    </table>


</body>
</html>