<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        .no-changes {
            background-color: #d4edda; /* light green */
        }
    </style>
</head>
<body>

{% for host in ansible_play_hosts_all %}
    {{ host }}
<h1>System Information Report</h1>

<h2>Host Information</h2>
    <p><strong>Hostname:</strong> }} {{ host }} </p>
    <p><strong>IP Address:</strong> {{ application1_precheck_facts_result.ansible_facts.ansible_enp1s0.ipv4.address }}

{% endfor %}
</body>
</html>
