<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <h1>System Information</h1>
    {% for host_facts in all_hosts_facts %}
        <h2>Host: {{ host_facts['hostname'] }}</h2>
        <table>
            <tr>
                <th>Parameter</th>
                <th>Information</th>
            </tr>
            <tr>
                <td>Hostname</td>
                <td>{{ host_facts['hostname'] }}</td>
            </tr>
            <tr>
                <td>OS Version</td>
                <td>{{ host_facts['distribution'] }} {{ host_facts['distribution_version'] }}</td>
            </tr>
            <tr>
                <td>IP Address</td>
                <td>{{ host_facts['default_ipv4']['address'] }}</td>
            </tr>
            <tr>
                <td>Total Up time</td>
                <td>{{ host_facts['uptime_seconds'] }}</td>
            </tr>
            <tr>
                <td>Kernel Version</td>
                <td>{{ host_facts['kernel'] }}</td>
            </tr>
            <tr>
                <td>Memory</td>
                <td>{{ host_facts['memory_mb']['real']['total'] }}</td>
            </tr>
            <tr>
                <td>Service State</td>
                <td>{{ service_name }} is currently {{ service_state }}</td>
            </tr>

            {% set pre_all_hostname = host_facts['all_hostname'] %}
            {% set post_all_hostname = host_facts['all_hostname1'] %}
            {% set status_all_hostname = pre_all_hostname | difference(post_all_hostname) %}
            {% set final_status_all_hostname = 'No changes' if status_all_hostname | length == 0 else 'changes' %}

            <tr>
                <td>/etc/hosts:</td>
                <td>
                    {% if final_status_all_hostname == 'No changes' %}
                        No changes
                    {% else %}
                        <ul>
                            {% for host in status_all_hostname %}
                                <li>{{ host }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>

            {% set pre_all_resolv = host_facts['all_resolv'] %}
            {% set post_all_resolv = host_facts['all_resolv1'] %}
            {% set status_all_resolv = pre_all_resolv | difference(post_all_resolv) %}

            <tr>
                <td>Resolv_conf:</td>
                <td>
                    {% if status_all_resolv | length == 0 %}
                        No changes
                    {% else %}
                        <ul>
                            {% for host in status_all_resolv %}
                                <li>{{ host }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>

            {% set pre_all_mountpoint = host_facts['all_mountpoint'] %}
            {% set post_all_mountpoint = host_facts['all_mountpoint1'] %}
            {% set status_all_mountpoint = pre_all_mountpoint | difference(post_all_mountpoint) %}

            <tr>
                <td>Mount Point:</td>
                <td>
                    {% if status_all_mountpoint | length == 0 %}
                        No changes
                    {% else %}
                        <ul>
                            {% for host in status_all_mountpoint %}
                                <li>{{ host }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endfor %}
</body>
</html>


    <h2>Package Upgrade Report</h2>


 <table>
    <tr>
        <th> </th>
        <th>Differences in Packages</th>

    </tr>

    
    <tr>
        <td>Packages</td>
        {% set pre_packages_ug1 = pre_packages_ug %}
        {% set post_packages_ug1 = post_packages_ug %}
        {% set status_diff = pre_packages_ug1 | difference(post_packages_ug1) %}
        <td>
            <ul>
                {% for package in status_diff %}
                    <li>{{ package }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>

   <h2>Comparison of Running Services</h2>
    {% set service_difference = service_info_running | difference(service_info2_running) %}
    {% set service_diff = service_info2_running | difference(service_info_running) %}
   <table>
       <tr>
           <th>Services that are no longer Running</th>
       </tr>
       {% for diff in service_difference %}          
               <tr>
                   <td>{{ diff }}</td>                   
               </tr>           
       {% endfor %}
   </table>
   <table>

</body>
</html>
