<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        .no-changes {
            background-color: #d4edda; /* light green */
        }
    </style>
</head>
<body>
    <h1>System Information</h1>
    {% for host in ansible_play_hosts %}
    {{ host }}
        <br>
    {{ all_hosts_facts }}


    <table>
        <tr>
            <th>Parameter</th>
            <th>Pre-upgrade</th>
            <th>Post-upgrade</th>
            <th>Changes</th>
        </tr>
    
        <tr>
            <td>Hostname</td>
            <td>{{ host }} </td>
        </tr>
        <tr>
            <td>IP Address</td>
            <td>{{ host['default_ipv4']['address'] }}</td>
        </tr>
   
        <tr>
            <td>Total Up time</td>
            <td>{{ host['uptime_seconds'] }}</td>
        </tr>
    
          <td>OS Version</td>
          <td>{{ host.pre_distribution }}</td>
          <td>{{ host.post_distribution }}</td>
          <td class="{% if host.pre_distribution == host.post_distribution %}no-changes{% endif %}">
              {% if host.pre_distribution != host.post_distribution %}
              <ul>
                  <li>Changed from {{ host.pre_distribution }} to {{ host.post_distribution }}</li>
              </ul>
              {% else %}
                  No changes
              {% endif %}
          </td>
      </tr>
      <tr>
          <td>Kernel Version</td>
          <td>{{ host.pre_kernel }}</td>
          <td>{{ host.post_kernel }}</td>
          <td class="{% if host.pre_kernel == host.post_kernel %}no-changes{% endif %}">
              {% if host.pre_kernel != host.post_kernel %}
                  <ul>
                      <li>Changed from {{ host.pre_kernel }} to {{ host.post_kernel }}</li>
                  </ul>
              {% else %}
                  No changes
              {% endif %}
          </td>
      </tr>
      <tr>
          <td>Memory</td>
          <td>{{ host.pre_memory }}</td>
          <td>{{ host.post_memory }}</td>
          <td class="{% if host.pre_memory == host.post_memory %}no-changes{% endif %}">
              {% if host.pre_memory != host.post_memory %}
                  <ul>
                      <li>Changed from {{ host.pre_memory }} to {{ host.post_memory }}</li>
                  </ul>
              {% else %}
                  No changes
              {% endif %}
          </td>
      </tr>
      <tr>
          <td>/etc/hosts</td>
          <td>{{ host.all_hostname }}</td>
          <td>{{ host.all_hostname1 }}</td>
          <td class="{% if host.all_hostname == host.all_hostname1 %}no-changes{% endif %}">
              {% if host.all_hostname != host.all_hostname1 %}
                  <ul>
                      <li>Changed from {{ host.all_hostname }} to {{ host.all_hostname1 }}</li>
                  </ul>
              {% else %}
                  No changes
              {% endif %}
          </td>
      </tr>
      <tr>
          <td>/etc/resolv.conf</td>
          <td>{{ host.all_resolv }}</td>
          <td>{{ host.all_resolv1 }}</td>
          <td class="{% if host.all_resolv == host.all_resolv1 %}no-changes{% endif %}">
              {% if host.all_resolv != host.all_resolv1 %}
                  <ul>
                      <li>Changed from {{ host.all_resolv }} to {{ host.all_resolv1 }}</li>
                  </ul>
              {% else %}
                  No changes
              {% endif %}
          </td>
      </tr>
      <tr>
          <td>Mount Point</td>
          <td>{{ host.all_mountpoint }}</td>
          <td>{{ host.all_mountpoint1 }}</td>
          <td class="{% if host.all_mountpoint == host.all_mountpoint1 %}no-changes{% endif %}">
              {% if host.all_mountpoint != host.all_mountpoint1 %}
                  <ul>
                      <li>Changed from {{ host.all_mountpoint }} to {{ host.all_mountpoint1 }}</li>
                  </ul>
              {% else %}
                  No changes
              {% endif %}
          </td>
      </tr>


    {% endfor %}

    </table> 


    <h2>Package Differences</h2>
    <table>
        <tr>
            <th></th>
            <th>Packages before update</th>
            <th>Packages after update</th>
            <th>Differences in Packages</th>
        </tr>
        <tr>
            <td>Packages</td>
            <td>{{ pre_packages_ug }}</td>
            <td>{{ post_packages_ug }}</td>
            <td>
                <ul>
                    {% for package in yum_update_history_result %}
                        <li>{{ package.strip() }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

    <h2>Comparison of Running Services</h2>

    {% set service_difference = service_info_running | difference(service_info2_running) %}
    {% set service_diff = service_info2_running | difference(service_info_running) %}
   
    <table>
        <tr>
            <th>Services that are no longer Running</th>
        </tr>
        {% for diff in service_difference %}
            <tr>
                <td>{{ diff }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
