<html>
<head>
    <title>System Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        .info {
            margin-bottom: 20px;
        }
        .info label {
            font-weight: bold;
            display: inline-block;
            width: 150px;
        }
    </style>
</head>
<body>
    <h1>System Information</h1>
    <div class="info">
        <label>Hostname:</label>
        <span>{{ ansible_facts['hostname'] }}>{{ ansible_facts['hostname'] }}</a></span>
    </div>
    <div class="info">
        <label>OS Version:</label>
        <span>{{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }}</span>
    </div>
    <div class="info">
        <label>IP Address:</label>
        <span>{{ ansible_facts['default_ipv4']['address'] }}</span>
    </div>

    <div class="info">
        <label>Total Up time:</label>
        <span>{{ ansible_facts['uptime_seconds'] }}</span>
    </div>

    <div class="info">
        <label>Kernel Version:</label>
        <span>{{ ansible_facts['kernel'] }}</span>
    </div>

    <div class="info">
        <label>Memory:</label>
        <span>{{ ansible_facts['memory_mb']['real']['total'] }}</span>
    </div>


</body>
</html>
